<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="genesis_plus_gx_system_hw" values="auto|sg-1000|sg-1000 II|sg-1000 II + ram ext.|mark-III|master system|master system II|game gear|mega drive / genesis" default="auto"/>
		<setting label="30002" type="select" id="genesis_plus_gx_region_detect" values="auto|ntsc-u|pal|ntsc-j" default="auto"/>
		<setting label="30003" type="select" id="genesis_plus_gx_bios" values="disabled|enabled" default="disabled"/>
		<setting label="30004" type="select" id="genesis_plus_gx_bram" values="per bios|per game" default="per bios"/>
		<setting label="30005" type="select" id="genesis_plus_gx_add_on" values="auto|sega/mega cd|megasd|none" default="auto"/>
		<setting label="30006" type="select" id="genesis_plus_gx_lock_on" values="disabled|game genie|action replay (pro)|sonic &amp; knuckles" default="disabled"/>
		<setting label="30007" type="select" id="genesis_plus_gx_aspect_ratio" values="auto|NTSC PAR|PAL PAR|4:3|Uncorrected" default="auto"/>
		<setting label="30008" type="select" id="genesis_plus_gx_overscan" values="disabled|top/bottom|left/right|full" default="disabled"/>
		<setting label="30009" type="select" id="genesis_plus_gx_left_border" values="disabled|left border|left &amp; right borders" default="disabled"/>
		<setting label="30010" type="select" id="genesis_plus_gx_gg_extra" values="disabled|enabled" default="disabled"/>
		<setting label="30011" type="select" id="genesis_plus_gx_blargg_ntsc_filter" values="disabled|monochrome|composite|svideo|rgb" default="disabled"/>
		<setting label="30012" type="select" id="genesis_plus_gx_lcd_filter" values="disabled|enabled" default="disabled"/>
		<setting label="30013" type="select" id="genesis_plus_gx_render" values="single field|double field" default="single field"/>
		<setting label="30014" type="select" id="genesis_plus_gx_frameskip" values="disabled|auto|manual" default="disabled"/>
		<setting label="30015" type="select" id="genesis_plus_gx_frameskip_threshold" values="33|15|18|21|24|27|30|36|39|42|45|48|51|54|57|60" default="33"/>
		<setting label="30016" type="select" id="genesis_plus_gx_ym2413" values="auto|disabled|enabled" default="auto"/>
		<setting label="30017" type="select" id="genesis_plus_gx_ym2413_core" values="mame|nuked" default="mame"/>
		<setting label="30018" type="select" id="genesis_plus_gx_ym2612" values="mame (ym2612)|mame (asic ym3438)|mame (enhanced ym3438)|nuked (ym2612)|nuked (ym3438)" default="mame (ym2612)"/>
		<setting label="30019" type="select" id="genesis_plus_gx_sound_output" values="stereo|mono" default="stereo"/>
		<setting label="30020" type="select" id="genesis_plus_gx_audio_filter" values="disabled|low-pass" default="disabled"/>
		<setting label="30021" type="select" id="genesis_plus_gx_lowpass_range" values="60|5|10|15|20|25|30|35|40|45|50|55|65|70|75|80|85|90|95" default="60"/>
		<setting label="30022" type="select" id="genesis_plus_gx_psg_preamp" values="150|0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95|100|105|110|115|120|125|130|135|140|145|155|160|165|170|175|180|185|190|195|200" default="150"/>
		<setting label="30023" type="select" id="genesis_plus_gx_fm_preamp" values="100|0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95|105|110|115|120|125|130|135|140|145|150|155|160|165|170|175|180|185|190|195|200" default="100"/>
		<setting label="30024" type="select" id="genesis_plus_gx_cdda_volume" values="100|0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95" default="100"/>
		<setting label="30025" type="select" id="genesis_plus_gx_pcm_volume" values="100|0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85|90|95" default="100"/>
		<setting label="30026" type="select" id="genesis_plus_gx_gun_input" values="lightgun|touchscreen" default="lightgun"/>
		<setting label="30027" type="select" id="genesis_plus_gx_gun_cursor" values="disabled|enabled" default="disabled"/>
		<setting label="30028" type="select" id="genesis_plus_gx_invert_mouse" values="disabled|enabled" default="disabled"/>
		<setting label="30029" type="select" id="genesis_plus_gx_no_sprite_limit" values="disabled|enabled" default="disabled"/>
		<setting label="30030" type="select" id="genesis_plus_gx_enhanced_vscroll" values="disabled|enabled" default="disabled"/>
		<setting label="30031" type="select" id="genesis_plus_gx_enhanced_vscroll_limit" values="8|2|3|4|5|6|7|9|10|11|12|13|14|15|16" default="8"/>
		<setting label="30032" type="select" id="genesis_plus_gx_overclock" values="100%|125%|150%|175%|200%" default="100%"/>
		<setting label="30033" type="select" id="genesis_plus_gx_force_dtack" values="enabled|disabled" default="enabled"/>
		<setting label="30034" type="select" id="genesis_plus_gx_addr_error" values="enabled|disabled" default="enabled"/>
		<setting label="30035" type="select" id="genesis_plus_gx_cd_latency" values="enabled|disabled" default="enabled"/>
		<setting label="30036" type="select" id="genesis_plus_gx_psg_channel_0_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30037" type="select" id="genesis_plus_gx_psg_channel_1_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30038" type="select" id="genesis_plus_gx_psg_channel_2_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30039" type="select" id="genesis_plus_gx_psg_channel_3_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30040" type="select" id="genesis_plus_gx_md_channel_0_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30041" type="select" id="genesis_plus_gx_md_channel_1_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30042" type="select" id="genesis_plus_gx_md_channel_2_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30043" type="select" id="genesis_plus_gx_md_channel_3_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30044" type="select" id="genesis_plus_gx_md_channel_4_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30045" type="select" id="genesis_plus_gx_md_channel_5_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30046" type="select" id="genesis_plus_gx_sms_fm_channel_0_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30047" type="select" id="genesis_plus_gx_sms_fm_channel_1_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30048" type="select" id="genesis_plus_gx_sms_fm_channel_2_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30049" type="select" id="genesis_plus_gx_sms_fm_channel_3_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30050" type="select" id="genesis_plus_gx_sms_fm_channel_4_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30051" type="select" id="genesis_plus_gx_sms_fm_channel_5_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30052" type="select" id="genesis_plus_gx_sms_fm_channel_6_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30053" type="select" id="genesis_plus_gx_sms_fm_channel_7_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
		<setting label="30054" type="select" id="genesis_plus_gx_sms_fm_channel_8_volume" values="100|0|10|20|30|40|50|60|70|80|90" default="100"/>
	</category>
</settings>
